@charset "utf-8";
/*Work2*/
section{
    background-color: #eeeeee;
    padding: 100px 0;
}
h2{
    text-align: center;
    margin-bottom: 70px;
    color: lightseagreen;
    font-size: 40px;
}
ul{
    max-width: 960px;
    display: flex;
    margin: 0 auto;
}
li:nth-child(2){
    margin: 0 20px;
}
li{
    background-color: white;
}
h3{
    color: lightseagreen;
    border-left: 7px solid lightseagreen;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 5px;
    font-size:x-large;
}
p{
    margin: 15px 15px 15px 10px;
    font-size:16px;
}

@media screen and ( max-width: 400px ){
    ul{
        display: block;
        padding: 0 10px;
    }
    li{
        width: 100%;
        margin-bottom: 30px;      
    }
    li:nth-child(2){
        margin:0 0px;
    }
    img{
        width: 100%;
    }
}
