@charset "utf-8";
body{
    max-width: 1035px;
    margin: 0 auto;
}
p{
    line-height: 1.5;
}
header{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0; 
}
h1{
    font-size: 40px; 
}
.subtitle{
    font-size: medium;
}
.nav-menu{ 
    display: flex;
}
.nav-item{
    margin: 20px 50px 0 0;
}
.top-image{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
}
.text{
    margin: 100px auto;
    text-align: left;
    font-size: 28px;
}
section{
    margin: 0 auto;
    border-bottom:  1px solid;
}
.blog{
    display: flex;
    margin-bottom: 70px;
}
.time{
   width: 30%;
}
.title{
    width: 70%;
}
h2{
    font-size: 20px;
    margin-bottom: 20px;
}

/*フッターエリア*/
footer{
    display: flex;
    margin: 60px auto; 
    justify-content: space-between;
}
footer div{
    width: calc(100% / 4);
}
/*プロフィール*/
.aaa{
    margin-right: 60px;
}
.profilewidget{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.profile-photo{
    width: 50%;
}
.profile-photo img{
    border-radius: 50%;
}
.profile-namearea{
    width: 50%;
    margin: 20px 0 10px 20px;
}
.profile-namearea p{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 10px;
}
.profilewidget-text{
    font-size: large;
}
/*SNSアイコン*/

.profilewidget-link.menu a:before {
    font-size: 20px;
    margin-left: 0;
    margin-right: 4px;
}
.menu a:before  {
    color: #999;
    display: inline-block;
    font: normal 26px/1 Genericons;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: -1px;
    transition: color .2s ease-in-out;
    vertical-align: middle;
}
.profilewidget-link.menu a {
    text-decoration: none;
}
.menu a[href*="twitter.com"]:before {
    content: "\f202";
}
.menu a[href*="facebook.com"]:before {
    content: "\f204";
}
.menu a[href*="instagram.com"]:before {
    content: "\f215";
}

/*フッタープロフィール以外*/
.footerwidget-2{
    margin-right: 50px;
}
.footerwidget-3{
    margin-right: 30px;
}

.widget-title{
    color: black!important;
    font-size: medium;
    font-weight: 600;
    margin: 0 0 50px 0!important;
}
.footerwidget-2 p{
    font-size: medium;
}
.footerwidget-3 li{
    margin-bottom: 25px;
}
.footerwidget-3 a{
    font-size: medium;
    font-weight: 400;
    border-bottom: 1px solid rgb(208, 208, 208);
}
.footerwidget-3 p{
    margin-top: 10px;
    color: rgb(178, 178, 178);
}
.footerwidget-4 ul{
    margin-bottom: 50px;
}
.footerwidget-4 li{
    margin-bottom: 25px;
    text-decoration:underline;
    text-decoration-color: rgb(208, 208, 208);
}