@charset "utf-8";
body{
    background-color: #e8d9bf;
}

.header_container{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7% 0 2.7%;
    box-sizing: border-box;
    z-index: 1;
}
.logo img{
    width: 226.76px;
}
.header_nav ul{
    display: flex;
    gap: 45px;
}
.header_nav li{
    width: 105px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
}
.slider{
    width: 100%;
   
}
.slider img{
    width: 100%;
}
.lead{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 106px;
    text-align: center;
}
.lead01{
    margin-bottom: 65px;
    font-size: 30px;
}
.lead02{
    margin-bottom: 53px;
    font-size: 82px;
    line-height:1.17;
}
.lead03{
    margin-bottom: 100px;
    font-size: 23px;
    line-height:1.65;
}
.sp{
    display: none;
}
#about{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 109px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
#about picture{
    width: 50%;
}
#about div{
    padding-left: 84px;
    width: 50%;
}
.about-img{
    width: 100%;                          
    border-bottom-right-radius:82px;
}
.about-title{
    margin: 0 0 60px 0;
    width: 272.39px;
}
.about-lead{
    margin-bottom: 38px;
    font-size: 44px;
    line-height:1.38;
}
.about-text{
    font-size: 16px;
    line-height:1.625;
}
#menu{
    max-width: 1000px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
}
.menu-title{
    width: 151px;
    text-align: center;
    margin: 0 auto;
}
.menuitem{
    margin: 49px 0 168px 0;
    display: flex;
    gap:48.74px
}
.menuitem img{
    border-top-right-radius:42px;     
}
.menuitem h3{
    margin-top: -20px;
    font-size: 38px;
    color: #d30202;
    font-weight: lighter;
    text-align: left;
}
.menuitem p{
    margin-top: 24px;
    font-size: 17px;
    line-height: 1.47;
    text-align: left;
}
.gallery-title{
    width: 245px;
    text-align: center;
    margin: 0 auto;
}
.gallery-slider{
    margin-top: 26px;
    width: 100%;
    display: flex;
}
.gallery-slider img{
    margin-bottom: 71px;
    width: 20%;
}
.gallery-slider picture img{
    width: 100%;
}
.gallery-slider picture{
    width: 20%;
}
#event{
    max-width: 1000px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
}
.event-title{
    width: 173px;
    text-align: center;
    margin: 0 auto;
}
.eventitem{
    margin-top: 40px;
    margin-bottom: 79px;
    padding: 40px 0 ;
    background-color: #fff;
    border: 3.68px solid #4f260b;
}

.eventitem li{
    max-width: 670px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.event-date{
    margin-right: 35px;
    font-size: 23px;
}
.eventitem a p{
    font-size: 23px;
    text-decoration: underline;
}
.eventitem li:nth-child(2){
    margin: 21px auto;
}
#access{
    margin: 0 auto;
    text-align: center;
    line-height: 0;
}
.access-title{
    width: 214px;
    text-align: center;
    margin: 0 auto;
}
iframe{
    width: 100%;
    margin-top: 47px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}
footer{
    background-color: #fff;
}
.footer-adress{
    max-width: 1000px;
    padding: 82px 10px;
    display: flex;
    align-items: start;
    margin: 0 auto;  
    box-sizing: border-box;
    justify-content: flex-start;
}
.footerlogo{
    margin-right: 70px;
    width: 226px; 
}
footer p{
    font-size: 20px;
    color: black;
}
footer li{
    margin-bottom: 24px;
}
.copyright{
    font-size: 16px;
    padding-top: 83px;
    padding-bottom: 81px;
    color: black;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
}
.pagetop {
    height: 125px;
    width: 125px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.sp_nav, .hamburger, .sp-about{
    display: none;
}

@media screen and (max-width: 1100px){
    .sp_nav{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgb(000,000,000,0.7);
        z-index: 3;
    }
    .sp_nav ul{
        height: 100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    .sp_nav li{
        padding: 16px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 25px;
        color:#fff;
        text-align: center;
    }
    .header_nav{
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        height: 30px;
        width: 33px;
        position: absolute;
        z-index:9999;
        right:0;
    }
    .hamburger span{
        width: 33px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        content: "";
        top:20px;
        right:10px;
        z-index: 9999;
        transition: 0.5s;
    }
    .hamburger span::before,
    .hamburger span::after{
        position: absolute;
        content: "";
        width: 33px;
        height: 3px;
        background-color: #fff;
        transition: 0.5s;
    }
    .hamburger span::before{
        top:-10px;
    }
    .hamburger span::after{
        top: 10px;
    }

    .open span{
        background: transparent;
    }
    .open span::before{
        transform: rotate(45deg);
        top:0;
    }
    .open span::after{
        transform:rotate(-45deg);
        top: 0;
    }
    .lead02{
        font-size: 70px;
    }
    .about-lead{
        font-size: 40px;
    }   
}

@media screen and (max-width: 767px){
    .sp-none{
        display: none;
    }
    .gallery-slider picture img{
        width: 100%;
    }
    .lead01{
        margin-bottom: 24px;
        font-size: 17px;
    }
    .lead02{
        margin-bottom: 26px;
        font-size: 38px;
        line-height: 1.16;
    }
    .lead03{
        font-size: 16px;
        width: 338px;
        margin: 0 auto;
    }
    .sp{
        display: block;
    }
    #about{
        margin: 62px 0 55px 0;
    }
    .about-img{
        border-bottom-right-radius:0px;
    }
    .pc-none{
        display: none;
    }
    #about{
        padding: 0;
    }
    #about div{
        width: 100%;
        margin: 0 auto;
    }
    .sp-about{
        display: block;
        margin: 0 auto;
        padding-left: 0!important;
    }
    .sp-about .about-title{
        width: 160px;
        margin: 0 auto;
    }
    .sp-about .about-img{
        margin-top: 17px;
        width: 100%;
    }
    .sp-about .about-lead{
        margin-top: 37px;
        font-size: 36px;
        padding: 0 10px;
    }
    .sp-about .about-text{
        margin-top: 34px;
        font-size: 16px;
        padding: 0 10px;
    }
    #menu{
        padding: 0 35px;
    }
    .menu-title{
        width: 89px;
        margin-bottom: 23px;
    }
    .menuitem{
        display: block;
        margin: 0 auto;
    }
    .menuitem div{
        margin-bottom: 58px;
    }
    .menuitem img{
        width: 100%;    
    }
    .menuitem h3{
        margin: -14px 0 31px 10px;
    }
    .menuitem p{
        font-size: 17px;
    }
    .gallery-title{
        width: 143px;
        margin-top: 91px;
    }
    .gallery-slider picture{
        width: 100%;
    }
    #event{
        padding: 0 20px;
    }
    .event-title{
        width: 101px;
    }
    .eventitem{
        padding: 22px 26px;
        text-align: left;
    }
    .eventitem li{
        align-items: center;
        display: block;
        width: 100%;
    }
    .eventitem li:nth-child(2){
        margin: 27px auto;
    }
    .event-date{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .eventitem a p{
        font-size: 16px;
        text-decoration: underline;
    }
    .eventitem p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .footer-adress{
        display: block;
        padding: 47px 20px;
    }
    .footerlogo{
        width: 227px;
        margin-bottom: 36px;
    }
    .footer-adress p{
        font-size: 18px; 
        line-height: 1.7;    
    }
    .copyright{
        padding-top: 0;
        padding-bottom: 37px;
    }
    footer li{
        margin-bottom: 0;
    }
    .pagetop {
        height: 100px;
        width: 100px;
        right: 10px;
        bottom: 10px;
    }
}
.slick-dots{
bottom: 10px;
}
.slick-dots li button:before{
    font-size: 10px;
}
.slick-dots li.slick-active button:before{
    color: white;
    opacity:100;
}